@tailwind base;
@tailwind components;
@tailwind utilities;

.hide_scrollbar {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.scrollbar::-webkit-scrollbar {
  width: 0.5em !important;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px #003F7A; */
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #f4c430;
  width: 2px;
  border-radius: 10px;
}
body::-webkit-scrollbar {
  width: 0.5em !important;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #f4c430;
  width: 2px;
  border-radius: 10px;
}

.rdw-option-wrapper,
.rdw-dropdown-wrapper {
  background-color: transparent !important;
}

.choose_topic_box {
  @apply border-[3px] bg-white cursor-pointer text-center 2xl:w-10/12 md:w-[90%] md:h-[90%] w-full 2xl:h-5/6 h-full md:p-4 p-2 rounded-xl border-Yellow flex items-center justify-center md:gap-2 gap-1 flex-col;
}

.choose_category_box {
  @apply border-[3px] bg-white cursor-pointer text-center 2xl:w-10/12 w-full 2xl:h-5/6 h-full md:p-4 p-2 rounded-xl border-Yellow flex items-center justify-center md:gap-2 gap-1 flex-col;
}

.yellow_button {
  @apply text-white text-center md:px-5 px-3 cursor-pointer md:py-3 py-2 active:scale-90 font-semibold bg-Yellow rounded-md shadow-md hover:bg-Yellow/80 transition;
}
.yellow_button_disable {
  @apply text-white text-center md:px-5 px-3 cursor-not-allowed md:py-3 py-2 font-semibold bg-Yellow rounded-md shadow-md;
}

.common_button {
  @apply active:scale-90 transition md:px-5 px-3 md:py-3 py-2 duration-100 border;
}

.common_button_disable {
  @apply md:px-5 px-3 md:py-3 py-2 duration-100 border cursor-not-allowed;
}

.error {
  @apply font-light xl:text-base text-sm text-red-500;
}
